<a href="https://colab.research.google.com/github/lourencocavalcante/Fuzzy-Logic/blob/main/CAP424_2022_Exercicios_FuzzyLogic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[<img src="https://github.com/lourencocavalcante/LogosINPE/blob/main/logoinpe.png?raw=true" width = 500 align="left">](https://www.gov.br/inpe/pt-br)

[<img src="https://github.com/lourencocavalcante/LogosINPE/blob/main/LogoCAP.png?raw=true" width = 300 align="right">](http://www.inpe.br/posgraduacao/cap/)

# <span style="color:#336699; text-align: center;">Trabalho Final da disciplina de Lógica Nebulosa (CAP-424)</span>
<hr style="border:2px solid #0077b9;">

<br/>

<div style="text-align: center;font-size: 110%;">
    <b>CAP-424 – Lógica Nebulosa (Fuzzy Logic)</b>
    <br/>
    <b>Docente:</b> Dr. Lamartine Nogueira Frutuoso Guimarães
    <br/><br/>
    <b>Discente:</b> Lourenço José Cavalcante Neto
    <br/>
    <b>E-mail:</b> <a href="mailto:lourenco.cavalcante@ifto.edu.b">lourenco.cavalcante@ifto.edu.br</a>

</div>

<br/>

<div style="text-align: justify;  margin-left: 20%; margin-right: 20%;">
<b>Objetivo: </b> O principal objetivo deste caderno notebook é apresentar as questões propostas pelo professor em torno das discussões ocorridas durante a disciplina de Lógica Nebulosa (CAP-424) e suas respectivas soluções, como trabalho final da disciplina.
</div>

<span style="text-align: center;"> Este notebook também pode ser visualizado no meu diretório de materiais e atividades da disciplina **CAP-324** no **Github**,  [Clicando aqui](https://github.com/lourencocavalcante/Fuzzy-Logic.git) </span>

# **Lógica Nebulosa (Fuzzy Logic)**

Na lógica convencional (binária), um elemento pertence ou não pertence a um determinado conjunto, e nunca se encontra entre estes dois estados possíveis. Esta é uma maneira de simplificar um mundo inerentemente complexo, mas - argumentam os defensores da lógica nebulosa - esta simplificação acaba por distorcer a realidade (GRINT, 1997). A lógica nebulosa é um método que permite expressar incertezas de maneira mais consistente, através dos conjuntos nebulosos: ao invés de simplesmente pertencer ou não pertencer, um elemento poderá ter vários graus de pertinência a um conjunto. 

O conceito de lógica nebulosa (fuzzy logic ou LN) foi introduzido por Lotfi Zadeh em 1965, como uma forma de reduzir e explicar a complexidade de sistemas (Cox, 1998). Esta idéia permaneceu praticamente desconhecida pelo grande público até o final da década de 1980, quando o metrô de Sendai adotou um sistema baseado na LN - o Automatic Train Operator (ATO) - e surgiram várias empresas que tinham o objetivo de desenvolver e comercializar produtos baseados nesta tecnologia. Apesar de o interesse comercial haver arrefecido, hoje é possível encontrar aplicações da lógica nebulosa em áreas bem diferentes daquela em que surgiu

Os conjuntos nebulosos (fuzzy sets) são funções que mapeiam, em uma escala de zero a um, esta pertinência de um determinado elemento ao conjunto. O valor zero indica que o elemento não pertence ao conjunto, enquanto o valor um significa que o elemento é completamente representativo do conjunto; valores entre estes dois indicam graus intermediários de pertinência.

Com conjuntos nebulosos é possível realizar várias operações - as básicas são interseção, união e complemento - e, com regras de inferência (policies), criar modelos que auxiliem na tomada de decisão.

## **Importação de módulos e bibliotecas**
São várias as bibliotecas que podem ser utilizadas para realizar o pré-processamento de dados. Entre elas podemos destacar a biblioteca **Pandas**. Trata-se de uma biblioteca para leitura, manipulação e análise de dados tabulados. Essa biblioteca oferece estruturas de dados e operações para manipular conjuntos massivos de tabelas numéricas e séries temporais de forma otimizada. No python, por convensão, as bibliotecas são importadas conforme podemos ver na célula abaixo:

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import math
import calendar
import datetime

## **Obtendo os arquivos de dados**

In [ ]:
#Vamos baixar os dados do Google Drive para o Notebook

!gdown --id 1DflICrG3vlewOXnLYrsEqhK0WFn2Bz0U #Down. WD_campina_report_RZLwcDmDtNdrop_b2.1_report
!gdown --id 1HF3z0QjMhbOMMzvzhGLHmVHg0D6GQx5d #Down. level1_output_sfc
!gdown --id 1exlLcdlPzLOPhzC9l97TNlMnysEH0AWk #Down. level1_output_bt
!gdown --id 1suHWSYCt_3066gmPylMU9un9owYI3yVD #Down. level2_output_cld_atto

Temos quatro tipos de arquivos:

* **level1_output_sfc.txt**: 
`Neste arquivo estão os dados do ambiente próximo à superfície.`

* **level1_output_bt.txt**: 
`Neste arquivos estão os dados das medidas dos canais do microonda.`

* **level2_output_cld_atto.txt**: 
`Neste arquivo estão as variáveis estimadas associadas a parâmetros de nuvens.`

* **JWD_campina_report_RZLwcDmDtNdrop_b2.1_report.txt**: 
`Neste arquivo estão dados de medida da distribuição das gotas de chuva que chegam à superfície.`

Com o objetivo de facilitar a leitura dos dados e torná-los **tidy**, primeiramente será necessário carregá-los como um **dataframe**. Vamos carregar os dados e criar os dataframes:

In [ ]:
#Abrindo os dados e criando os Dataframes
df_rd80_joss = pd.read_table('./JWD_campina_report_RZLwcDmDtNdrop_b2.1_report.txt',header=None, delim_whitespace=True)
df_mp3000A_1 = pd.read_table('./level1_output_sfc.txt',header=None,delim_whitespace=True)
df_mp3000A_2 = pd.read_table('./level1_output_bt.txt',header=None,delim_whitespace=True)
df_mp3000A_3 = pd.read_table('./level2_output_cld_atto.txt',header=None,delim_whitespace=True)

Vamos criar uma lista contendo os Dataframes para que possamos manipulá-los a partir daqui.

In [ ]:
list_dataframes = [df_rd80_joss, df_mp3000A_1, df_mp3000A_2, df_mp3000A_3]

In [ ]:
#Vamos verificar o tamanho dos Datasets e visualizar as suas colunas.
print('TAMANHO DO DATASET E QUANTIDADE DE ATRIBUTOS:\n')
for item in list_dataframes:
  print('Tamanho do dataset: ',item.shape[0], ' - Quantidade de atributos: ', item.shape[1])

Agora vamos investigar mais algumas informações sobre nossos dados:

In [ ]:
for itemDtypes in list_dataframes:
  print(itemDtypes.info(),'\n')

Vamos visualizar as 3 primeiras e 3 últimas linhas de cada arquivo de dados

In [ ]:
#Visualização das primeiras 3 linhas e últimas 3 linhas
df_rd80_joss.head(n=3).append(df_rd80_joss.tail(n=3))

In [ ]:
#Visualização das primeiras 3 linhas e últimas 3 linhas
df_mp3000A_1.head(n=3).append(df_mp3000A_1.tail(n=3))

In [ ]:
#Visualização das primeiras 3 linhas e últimas 3 linhas
df_mp3000A_2.head(n=3).append(df_mp3000A_2.tail(n=3))

In [ ]:
#Visualização das primeiras 3 linhas e últimas 3 linhas
df_mp3000A_3.head(n=3).append(df_mp3000A_3.tail(n=3))

Como vimos, a colunas de dados não vieram com seus nomes. Vamos resolver isso adicionando nome para as colunas dos dados do instrumento RD80 e do MP3000A, uma vez que sabemos o que cada coluna representa, de acordo com as especificações recebidas juntamente com os dados.

In [ ]:
#Vamos adicionar os títulos das colunas:
df_rd80_joss.columns = ['Ano', 'Mes', 'dia', 'H', 'M', 'S','Rain_Intensity_mm_h', 'radar_reflectivity_1_mm6m3','Liquid_watercontent_g_m3',
'Mean_weight_diameter_mm', 'Time_integration_s', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D']

df_mp3000A_1.columns = ['Mes', 'dia', 'Ano', 'H', 'M', 'S', 'Tamb_K', 'Rh_percent', 'Pres_mb', 'Tir_K', 'Rain', 'DataQuality']

df_mp3000A_2.columns = ['Mes', 'dia', 'Ano', 'H', 'M', 'S', 'Ch_22_234', 'Ch_22_500', 'Ch_23_034', 'Ch_23_834', 'Ch_25_000', 'Ch_26_234', 'Ch_28_000', 'Ch_30_000', 'Ch_51_248', 'Ch_51_760', 'Ch_52_280', 'Ch_52_804', 'Ch_53_336', 'Ch_53_848', 'Ch_54_400', 'Ch_54_940', 'Ch_55_500', 'Ch_56_020', 'Ch_56_660', 'Ch_57_288', 'Ch_57_964', 'Ch_58_800', 'DataQuality']

df_mp3000A_3.columns = ['Mes', 'dia', 'Ano', 'H', 'M', 'S', 'Int_Vapor_cm','Int_Liquid_mm','Cloud_Base_km','DataQuality']

Aqui adicionamos a coluna Datetime para cada um dos Dataframes, com os dados de data e hora. Primeiramente vamos converter o tipo dos dados de data e hora para (int), para que possamos manipulá-los na criação da coluna Datetime, e em seguida adicionaremos a coluna Datetime.

In [ ]:
#Modificanto o tipo de dado para (int)
df_rd80_joss[['Ano', 'Mes', 'dia', 'H', 'M', 'S']] = df_rd80_joss[['Ano', 'Mes', 'dia', 'H', 'M', 'S']].astype(int)
df_mp3000A_1[['Mes', 'dia', 'Ano', 'H', 'M', 'S']] = df_mp3000A_1[['Mes', 'dia', 'Ano', 'H', 'M', 'S']].astype(int)
df_mp3000A_2[['Mes', 'dia', 'Ano', 'H', 'M', 'S']] = df_mp3000A_2[['Mes', 'dia', 'Ano', 'H', 'M', 'S']].astype(int)
df_mp3000A_3[['Mes', 'dia', 'Ano', 'H', 'M', 'S']] = df_mp3000A_3[['Mes', 'dia', 'Ano', 'H', 'M', 'S']].astype(int)

Adicionando a coluna Datetime aos Dataframes.

In [ ]:
#Adiciona a coluna Datetime ao Dataframe com os dados do RD80 (Joss)
df_rd80_joss['Datetime'] = df_rd80_joss[['Ano', 'Mes', 'dia', 'H', 'M', 'S']].apply(lambda row:
                    datetime.datetime(year=row['Ano'], month=row['Mes'],day=row['dia'], hour=row['H'], minute=row["M"], second=row["S"]),axis=1)

#Caso queiramos definir a coluna 'Datetime' como Índice
#df_rd80_joss = df_rd80_joss.set_index('Datetime')

In [ ]:
list_df_mp3000A = [df_mp3000A_1, df_mp3000A_2, df_mp3000A_3]

#Loop para percorrer a lista de Dataframes e realizar as manipulações com um único bloco de código.
for itemMP3000A in list_df_mp3000A:

  #Faz uma busca na coluna Ano e altera o ano de YY para YYYY
  itemMP3000A['Ano'][itemMP3000A['Ano'] < 2000] = itemMP3000A['Ano'] + 2000

  #Adiciona a coluna Datetime ao Dataframe da vez no Loop for
  itemMP3000A['Datetime'] = itemMP3000A[['Mes', 'dia', 'Ano', 'H', 'M', 'S']].apply(lambda row:
                    datetime.datetime(year=row['Ano'], month=row['Mes'],day=row['dia'], hour=row['H'], minute=row["M"], second=row["S"]),axis=1)
  
  #Caso queiramos definir a coluna 'Datetime' como Índice
  #itemMP3000A = itemMP3000A.set_index('Datetime')

Após os ajustes anteriores, podemos finalizar esta etapa removendo as colunas nas quais não iremos utilizar a partir daqui.

In [ ]:
#Vamos remover as colunas que não iremos utilizar

df_rd80_joss = df_rd80_joss.drop(columns=['Mes', 'dia', 'Ano', 'H', 'M', 'S','N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D',
       'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D',
       'N_D', 'N_D', 'N_D'])

df_mp3000A_1 = df_mp3000A_1.drop(columns=['Mes', 'dia', 'Ano', 'H', 'M', 'S', 'Rain'])
df_mp3000A_2 = df_mp3000A_2.drop(columns=['Mes', 'dia', 'Ano', 'H', 'M', 'S'])
df_mp3000A_3 = df_mp3000A_3.drop(columns=['Mes', 'dia', 'Ano', 'H', 'M', 'S'])

Agora vamos juntar os dados do mp3000A em um único Dataframe, utilizando a dunção **merge** do **pandas**.

In [ ]:
df_MP3000A = pd.merge(df_mp3000A_1,df_mp3000A_2, how='outer', on = ['Datetime','DataQuality'])
df_MP3000A_final = pd.merge(df_MP3000A, df_mp3000A_3, how='outer', on = ['Datetime','DataQuality'])

#df_MP3000A_RD80_final = pd.merge(df_rd80_joss, df_MP3000A_final, how='outer', on = ['Datetime'])

Após juntar os Dataframes, vamos ver o novo tamanho do nosso dataset e quantidade de atributos.

In [ ]:
#Tamanho do Dataset
print('TAMANHO DO DATASET E QUANTIDADE DE ATRIBUTOS:\n')

print('Tamanho do dataset: ',df_MP3000A_final.shape[0], ' - Quantidade de atributos: ', df_MP3000A_final.shape[1])

TAMANHO DO DATASET E QUANTIDADE DE ATRIBUTOS:

Tamanho do dataset:  1919064  - Quantidade de atributos:  31

Iremos criar um baseline. Uma baseline é importante para ter marcos no projeto. A baseline que iremos criar é por **categoria**, ou seja, se a chuva foi fraca, moderada,forte, muito forte ou se não choveu, tomando como base os dados da medida da distribuição das gotas de chuva que chegam à superfície. tomando como referência o atributo **Rain_Intensity_mm_h** do **RD80**, as regras serão:

* Chuva fraca: 0.1-2.5mm/h;
* Chuva moderada: >2.5 - 10mm/h;
* Chuva forte: >10 - 50mm/h;
* Chuva muito forte: >50mm/h
* Não choveu: 0mm/h

Mas antes disso, precisamos aplicar uma pequena normalização. Vamos olhar os dados da coluna Rain_Intensity_mm_h, do Dataframe **df_rd80_joss** e, onde o valor for menor que **0.1** nós iremos substituir por **0 (zero)**. Além disso, também será realizada uma busca por valores nulos (NaN) nos nossos dados e, a correção será também a troca por 0 (zero).

In [ ]:
df_rd80_joss['Rain_Intensity_mm_h'][df_rd80_joss['Rain_Intensity_mm_h'] < 0.1] = 0

In [ ]:
#Verificando e contando os valores Nulos (NaN)
df_rd80_joss.isna().sum()

In [ ]:
#Verificando e contando os valores Nulos (NaN)
df_MP3000A_final.isna().sum()

In [ ]:
#Substituindo valores Nulos por 0 (zero)
df_rd80_joss.fillna(value = 0,  inplace = True)

In [ ]:
#Substituindo valores Nulos por 0 (zero)
df_MP3000A_final.fillna(value = 0,  inplace = True)

Vamos verificar se os ajustes nos valores NaN ocorreram corretamente.

In [ ]:
#Verificando valores Nulos (NaN)
df_rd80_joss.isna().sum()

In [ ]:
#Verificando valores Nulos (NaN)
df_MP3000A_final.isna().sum()

Agora sim iremos adicionar as colunas para classificação da intensidade de chuva (mm/h) ao Dataframe **df_rd80_joss**.

In [ ]:
#Add as colunas referente à intensidade da chuva. 
df_rd80_joss=df_rd80_joss.assign(Light_Rain=0, Moderate_Rain=0, Heavy_Rain=0, Very_Heavy_Rain=0, Without_Rain=0, Class_Rain_id=0,Class_Rain='Não choveu')
convert_dict = {'Light_Rain': int,'Moderate_Rain': int,'Heavy_Rain': int,'Very_Heavy_Rain': int,
                'Without_Rain': int,'Class_Rain_id': int, 'Class_Rain':str}  
  
df_rd80_joss = df_rd80_joss.astype(convert_dict)

In [ ]:
for index, row in df_rd80_joss.iterrows():

    if (row['Rain_Intensity_mm_h'] >= 0.1) and (row['Rain_Intensity_mm_h'] <= 2.5):
      df_rd80_joss.loc[index,'Light_Rain'] = 1
      df_rd80_joss.loc[index,'Class_Rain'] = 'Chuva fraca'
      df_rd80_joss.loc[index,'Class_Rain_id'] = 1
    elif(row['Rain_Intensity_mm_h']  > 2.5) and (row['Rain_Intensity_mm_h']  <= 10):
      df_rd80_joss.loc[index,'Moderate_Rain'] = 1
      df_rd80_joss.loc[index,'Class_Rain'] = 'Chuva moderada'
      df_rd80_joss.loc[index,'Class_Rain_id'] = 2
    elif (row['Rain_Intensity_mm_h']  > 10) and (row['Rain_Intensity_mm_h']  <= 50):
      df_rd80_joss.loc[index,'Heavy_Rain'] = 1
      df_rd80_joss.loc[index,'Class_Rain'] = 'Chuva forte'
      df_rd80_joss.loc[index,'Class_Rain_id'] = 3
    elif (row['Rain_Intensity_mm_h']  > 50):
      df_rd80_joss.loc[index,'Very_Heavy_Rain'] = 1
      df_rd80_joss.loc[index,'Class_Rain'] = 'Chuva muito forte'
      df_rd80_joss.loc[index,'Class_Rain_id'] = 4
    else:
      df_rd80_joss.loc[index,'Without_Rain'] = 1
      df_rd80_joss.loc[index,'Class_Rain'] = 'Não choveu'
      df_rd80_joss.loc[index,'Class_Rain_id'] = 0

Vamos ajustar os dados referente ao Datetime, adicionando novas colunas, para que possamos manipular durante os filtros na EDA.

In [ ]:
list_df = [df_rd80_joss, df_MP3000A_final]

In [ ]:
for df_item in list_df:
  #Vamos converter o "Datetime" em um objeto datetime para que seja mais fácil realizar outras manipulações
  df_item['Datetime'] = df_item.Datetime.astype('datetime64')

  # Criar uma coluna data
  df_item['Date'] = df_item['Datetime'].dt.date

  # Criar uma coluna ano
  df_item['Year'] = df_item['Datetime'].dt.year

  # Criar uma coluna mês
  df_item['Month'] = df_item['Datetime'].dt.month
  df_item['Month'] = df_item['Month'].apply(lambda x: calendar.month_abbr[x])

In [ ]:
for df_item in list_df:
  # Ordenando a coluna do mês do ano
  df_item['Month'] = pd.Categorical(df_item['Month'], 
                                  categories= ['Jan','Feb','Mar','Apr','May','Jun', 'Jul',
                                              'Aug','Sep','Oct','Nov','Dec'],
                                                ordered = True)

In [ ]:
for df_item in list_df:
  # Criando uma coluna de dia da semana

  df_item['Day_of_week'] = [d.day_name() for d in df_item['Datetime']]

In [ ]:
for df_item in list_df:
  # Ordenando a coluna do dia da semana

  df_item['Day_of_week'] = pd.Categorical(df_item['Day_of_week'], 
                                  categories= ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday'],
                                                ordered = True)

In [ ]:
for df_item in list_df:
  # Criando a coluna hora do dia

  df_item['Time'] = [d.time() for d in df_item['Datetime']]

In [ ]:
for df_item in list_df:
  # Dividindo a coluna hora do dia em diferentes sessões em um dia

  df_item=df_item.assign(session=pd.cut(df_item.Datetime.dt.hour,
                              [0,6,12,18,23],
                              labels=['Night','Morning','Afternoon','Evening'],
                              include_lowest=True))

Vamos reordenar as colunas dos Dataframes

In [ ]:
df_rd80_joss.columns

In [ ]:
df_MP3000A_final.columns

In [ ]:
df_rd80_joss = df_rd80_joss.reindex(columns=['Datetime', 'Date', 'Year', 'Month', 'Day_of_week', 'Time','Rain_Intensity_mm_h', 'radar_reflectivity_1_mm6m3',
       'Liquid_watercontent_g_m3', 'Mean_weight_diameter_mm',
       'Time_integration_s', 'Light_Rain', 'Moderate_Rain',
       'Heavy_Rain', 'Very_Heavy_Rain', 'Without_Rain', 'Class_Rain_id',
       'Class_Rain'])

In [ ]:
df_MP3000A_final = df_MP3000A_final.reindex(columns=['Datetime', 'Date', 'Year', 'Month', 'Day_of_week', 'Time','DataQuality','Tamb_K', 'Rh_percent', 'Pres_mb', 'Tir_K', 
       'Ch_22_234', 'Ch_22_500', 'Ch_23_034', 'Ch_23_834', 'Ch_25_000',
       'Ch_26_234', 'Ch_28_000', 'Ch_30_000', 'Ch_51_248', 'Ch_51_760',
       'Ch_52_280', 'Ch_52_804', 'Ch_53_336', 'Ch_53_848', 'Ch_54_400',
       'Ch_54_940', 'Ch_55_500', 'Ch_56_020', 'Ch_56_660', 'Ch_57_288',
       'Ch_57_964', 'Ch_58_800', 'Int_Vapor_cm', 'Int_Liquid_mm',
       'Cloud_Base_km'])

Vamos visualizar novamente as colunas dos Dataframes para verificar se elas forma reordenadas corretamente.

In [ ]:
df_rd80_joss.columns

In [ ]:
df_MP3000A_final.columns

Agora vamos garantir de que os nossos dataframes estarão corretamente classificados eem ordem crescente. Vamos usar a função "**sort_values()**" do **Pandas**, tomando como referência a coluna "**Datetime**".

In [ ]:
df_rd80_joss = df_rd80_joss.sort_values(by=['Datetime'])
df_MP3000A_final = df_MP3000A_final.sort_values(by=['Datetime'])

**Visualização final dos dados**

In [ ]:
#Vamos visualizar as primeiras 2 e últimas 2 linhas dos dados
df_rd80_joss.loc[df_rd80_joss['Rain_Intensity_mm_h'] > 0].head(n=2).append(df_rd80_joss.loc[df_rd80_joss['Rain_Intensity_mm_h'] > 0].tail(n=2))

In [ ]:
#Vamos visualizar as primeiras 2 e últimas 2 linhas dos dados
df_MP3000A_final.loc[df_MP3000A_final['DataQuality'] > 0].head(n=2).append(df_MP3000A_final.loc[df_MP3000A_final['DataQuality'] > 0].tail(n=2))

Visualização das estatísticas descritivas.

In [ ]:
#Visualização das estatísticas descritivas
df_rd80_joss.describe()

In [ ]:
#Visualização das estatísticas descritivas
df_MP3000A_final.describe()

Após todos os ajustes anteriores, finalmente podemos exportar/salvar nossos Dataframes para o formato CSV, afim de usá-los na próxima etapa deste trabalho: **Exploratory Data Analysis (EDA)**.

In [ ]:
#Salvando/Exportando os Dataframes para o formato CSV
df_rd80_joss.to_csv('./df_RD80_JOSS_final.csv')
df_MP3000A_final.to_csv('./df_MP3000A_final.csv')

# **Referências**

Wuerges, Artur Filipe Ewald e Borba, José AlonsoRedes neurais, lógica nebulosa e algoritmos genéticos: aplicações e possibilidades em finanças e contabilidade. JISTEM - Journal of Information Systems and Technology Management [online]. 2010, v. 7, n. 1 [Acessado 9 Novembro 2022] , pp. 163-182. Disponível em: <https://doi.org/10.4301/S1807-17752010000100007>. Epub 22 Nov 2010. ISSN 1807-1775. https://doi.org/10.4301/S1807-17752010000100007.